.idea
*.pyc
*.DS*
*.npy
/tensorflow-test/.ipynb_checkpoints/
/notebooks/.ipynb_checkpoints/
/data/test_data-64-64-64.npy
/data/train_data-64-64-64.npy
/data/test_diff_sequence.txt
/data/test_same_sequence.txt
/data/train_diff_sequence.txt
/data/train_same_sequence.txt
/data/siamese_test_lmdb/
/data/siamese_train_lmdb/
*.caffemodel
/data/
*.solverstate
/ct-test/siamese/train/
*.caffemodel_features.txt
profile.log
*/features
